:root {
    box-sizing: border-box;
}

.container-wrapper{
    /* background-color: green; */
    display: flex;
    height: 900px;
    justify-content: center;
    align-items: center;
}

.background{
    height: 100%;
    flex: 1;
    background-image: url('https://images.unsplash.com/photo-1509042239860-f550ce710b93?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y29mZmVlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60');
    background-size: cover;
    display: flex;
    align-items: center;
}

.background > div{
    background-color: rgba(0,0,0, .6);
    display: flex;
    height: 80px;
    width: 100%;
    padding-left: 30px;
}

.background > div > * {
    text-align: center;
}

.background h1{
    color: white;
    margin-left: 20px;
    /* font-size: 40px; */
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
    height: 100%;
    background-color: #EEE;
}

.main-content > div{
    padding-left: 50px;
}

.header{
    width: 650px;
    margin-bottom: 30px;
}

.form-container-wrapper{
    background-color: white;
    box-shadow: 0 8px 40px -30px #000;
}

.form-container{
    width: 650px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.form-container > div{
    flex: 1 50%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

input, button{
    width: 200px;
    border-radius: 5px;
    height: 25px;
    border: 1.5px solid #E5E7EB;
}

label{
    font-weight: bold;
}

button{
    margin-top: 30px;
    height: 45px;
    font-size: 20px;
    background-color: #596D48;
    color: white;
}

.login{
    color: #596D48;
}

input[type=password]:invalid{
    border: 2px solid red;
}